# Для автоматического запуска бота при перезагрузке сервера копия этого файла
# должна лежать в папке /etc/systemd/system/
# команда для копирования файла в нужную категорию cp OpenAI_WBFeedback_Tg_bot.service /etc/systemd/system/
# systemctl enable OpenAI_WBFeedback_Tg_bot - это команда в регистрации автозапуска бота при рестарте
# service OpenAI_WBFeedback_Tg_bot start - запуск бота / stop

[Unit]
Description=OpenAI_WBFeedback_Tg_bot
[Service]
WorkingDirectory=/home/OpenAI_WBFeedback_Tg_bot
User=root
ExecStart=/home/OpenAI_WBFeedback_Tg_bot/venv/bin/python main.py
Restart=on-failure
RestartSec=5s
[Install]
WantedBy=multi-user.target
EOF
